.wc-block-grid__products {
  background-color: rgb(182, 0, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wc-block-grid__product {
  overflow: hidden;
  margin: 100px;
}
.wc-block-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wp-block-woocommerce-cart {
  background-color: rgba(245, 245, 245);
  /* padding: 10px; */
  border-radius: 5px;
  color: rgb(0, 0, 0);
  width: 100%;
  /* border: solid hsla(0, 0%, 7%, 0.11) 1px; */
  font-size: large;
}
