.wp-block-woocommerce-checkout {
  margin: 50px;
}

.wc-block-components-sidebar-layout {
  background-color: rgb(250, 250, 250);
  padding: 10px;
  border-bottom: solid hsla(0, 0%, 7%, 0.11) 1px;
  border-top: solid hsla(0, 0%, 7%, 0.11) 1px;
  font-size: medium;
}

.wc-block-components-totals-coupon__form {
  font-size: small;
}
