header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  background-color: rgb(250, 250, 250);
  width: 100%;
}
.nav_bar {
  width: 100%;
}

.nav-menu ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.page_item {
  margin: 5px;
}
